<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.runapp"
    android:versionCode="1"
    android:versionName="0.1">
    <!-- package: 앱의 패키지 이름을 정의합니다. -->
    <!-- versionCode: 앱의 내부 버전 번호를 정의합니다. 이 번호는 사용자에게 보이지 않으며, 앱 업데이트를 관리하는 데 사용됩니다. -->
    <!-- versionName: 앱의 버전 이름을 정의합니다. 이 이름은 사용자에게 표시됩니다. -->
    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 사용자의 심박수에 접근 -->
    <uses-permission android:name="android.permission.BODY_SENSORS" /> <!-- 기기가 절전 모드에 못 들어가게 하는 권한 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 기기가 인터넷에 접속이 가능하도록 허용 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 기기가 사용자의 걸음 수, 활동을 감지하는 권한 허용 -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" /> <!-- 사용자의 대략적인 위치에 접근, 수백 미터 정도의 위치 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 사용자의 보다 정확한 위치에 접근, 수십 미터 정도의 위치 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <queries>
        <package android:name="com.google.android.wearable.healthservices" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <activity
            android:name=".activity.SelectActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
        <activity
            android:name=".activity.RunningActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>